.monei-card-input-container {
    .monei-input {
        input {
            padding: 12px 6px;
            border: 1px solid #ced4da;
            color: #495057;

            &::placeholder {
                color: #495057;
            }
        }

        &.monei-card-input {
            border: 1px solid #ced4da;
            margin: 15px 0;
        }

        &.is-focused {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        &.is-invalid {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);

            &.is-focused {
                border-color: #dc3545;
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
            }
        }

        &.is-valid {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);

            &.is-focused {
                border-color: #28a745;
                box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
            }
        }
    }

    .monei-card-input {
        background-color: #FFFFFF;
    }
}

.btn {
    svg {
        vertical-align: middle;
    }

    .btn__inner-loading {
        display: none;
    }

    .btn__inner {
        display: block;
    }
}

.btn-loading {
    .btn__inner-loading {
        display: block;
    }

    .btn__inner {
        display: none;
    }
}

.monei-button {
    color: #fff;
    background-color: #8961a5;
    border-color: #8961a5;

    &:hover {
        color: #fff;
        background-color: #75518f;
        border-color: #6f4d86;
    }

    &.focus,
    &:focus {
        color: #fff;
        background-color: #75518f;
        border-color: #6f4d86;
        box-shadow: 0 0 0 0.2rem rgba(155, 121, 179, 0.5);
    }

    &.disabled,
    &:disabled {
        color: #fff;
        background-color: #8961a5;
        border-color: #8961a5;
    }

    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: #6f4d86;
        border-color: #68487e;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(155, 121, 179, 0.5);
        }
    }
}

.monei-tab {
    img {
        width: 80px;
        margin-right: 20px;
    }
}

.monei-place-order {
    display: block;
    width: 100%;

    button {
        width: 100%;
    }
}

.show {
    > .monei-button {
        .dropdown-toggle {
            color: #fff;
            background-color: #6f4d86;
            border-color: #68487e;

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(155, 121, 179, 0.5);
            }
        }
    }
}

.monei-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #c00;
    text-align: center;
}
